:root {
    /* color palettes*/
    --primary-color: #0A0908;
    --secondary-color: #00F5D4;
    --accent1-color: #1B03A3;
    --accent2-color: gray;
    --accent3-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    background-color: black;
}

h1, h2 { 
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.0rem;
    color: white
}

img {
    width: 100%;
    height: auto;
}

a  {
    text-decoration: none;
    max-width:130px;
    color: white;;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: gray;
}

header img {
    width: 150px;
    margin:0 auto;
}

header nav  {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.0rem;
    font-weight: 700;
}

header nav a {
    color: white;
    font-size: 1.0rem;
    display: block;
    background-color: black;
    padding: 15px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto", serif;

}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    background-color: white;
}

h2 {
    margin-top: 2rem;
    border: 20px;
    padding: 20px;
    background-color:#00F5D4;
    color: black;
    text-align: center;
}

article {
    position: absolute;
    bottom: 50px;
    right: 30px;
    background-color: black;
    font-size: 1.0rem;
}

article img {
    float: right;
    width: 150px;
}

article p {
    font-family: "Roboto", serif;
    font-weight: 900;
    color: white;
    font-size: 1.3rem;
}

.gridlayout {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.threecols {
    display: grid;
    grid-template-columns: (3, 1fr);
}

.threecols h2 {
    grid-column: 1/4;
}

.threecols img {
    width: 180px;
    margin: 0 auto;
}

section p {
    padding: 20px;
}

.fivecols {
    grid-template-columns: repeat(5, 1fr);
}

.fivecols h2 {
    grid-column: 1/6;
}

figcaption {
    text-align: center;
    font-size: .8rem;
}

footer {
    padding:60px;
    background-color: gray;
}

.sociallinks {
    float: right;
}

.sociallinks img {
    width:50px;
    margin: 0;
}